@import "../../App.scss";

.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://getwallpapers.com/wallpaper/full/b/9/8/1289011-best-horror-movie-wallpaper-1920x1200-hd-1080p.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include mobile {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
        object-fit: scale-down;
        @include mobile {
          min-width: 50px;
          max-width: 50px;
          margin-right: 30px;
        }
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h1 {
      font-size: 50px;
      color: white;
      text-align: center;
      @include mobile {
        font-size: 16px;
      }
    }

    h2 {
      text-align: center;
      font-size: 20px;
      @include mobile {
        font-size: 13px;
      }
    }

    p {
      font-size: 20px;
      text-align: center;
      @include mobile {
        font-size: 10px;
      }
    }
    .input {
      width: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      height: 50px;
      border-radius: 5px;
      @include mobile {
        justify-content: center;
        background-color: inherit;
        display: grid;
        width: 100%;
      }
      .inputdiv {
        margin: 10px 0 !important;
      }

      input {
        text-align: center;
        // width: 100%;
        flex: 9;
        height: 100%;
        border: none;
        padding: 0 10px;
        border-radius: 5px;
        @include mobile {
          display: grid;
          padding: 10px 0;
          justify-content: center;
          place-items: center !important;
          width: 100%;
        }
      }

      .registerButton {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #ff8d1e;
        border: none;
        color: white;
        font-size: 22px;
        cursor: pointer;
        border-radius: 5px;
        font-style: inherit;
        &:hover{
          background-color: #4b92dc;
        }
        @include mobile {
          margin-left: 1.5rem !important;
          margin: 0;
          padding: 0;
          margin-top: 10px;
          width: 50%;
          font-size: 12px;
          place-self: center;
        }
      }
    }
  }
}




#page-wrapper {
  position: relative;


/** global classes styling **/

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  
  color: white;
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  border: 3px white solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}




#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: #ff8d1e;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

@media (max-width: 650px) {
  #how-it-works > iframe {
    max-width: 300px;
    width: 100%;
  }
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #ff8d1e;
  font-weight: 400;
}

.product > button:hover {
  background-color: #4b92dc;
  
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  width: 100%;
  margin-top: 20px;
  background-color: #ddd;
  padding: 20px;

}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
}